html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 1020px;
  margin: 0;
  padding: 0;

  font-family: "Lato", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  font-style: normal;
  text-align: left;
  color: #767e9e;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Lato";
  src:
    local("Lato"),
    url("assets/lato-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src:
    local("Lato"),
    url("assets/lato-normal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src:
    local("Lato"),
    url("assets/lato-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src:
    local("Lato"),
    url("assets/lato-black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1020px;
  margin: 0 auto;
  padding: 0 40px;
}

.page-main__title {
  margin: 0;
  margin-bottom: 21px;

  font-family: "Lato", Tahoma, sans-serif;
  font-size: 30px;
  line-height: 1;
  font-weight: 900;
  font-style: normal;
  text-align: left;
  color: #767e9e;
}

.page-main__text {
  margin: 0;
  margin-bottom: 45px;

  font-family: "Lato", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  font-style: normal;
  text-align: justify;
  color: #767e9e;
}

.portfolio {
  background-image: linear-gradient(to top, #323746 6px, #2d303a 6px);
}

.portfolio__container {
  padding-top: 63px;
  padding-bottom: 53px;
}

.portfolio__text {
  margin-bottom: 11px;
}

.portfolio__filter {
  display: flex;
  margin: 0;
  margin-left: 1px;
  margin-bottom: 19px;
  padding: 0;

  list-style: none;
}

.portfolio__filter-button {
  display: block;
  margin-right: 10px;
  padding: 0px 5px 0px 7px;

  font-family: "Lato", Tahoma, sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #767e9e;

  background-color: transparent;
  border: 1px solid #767e9e;
  border-radius: 5px;
  cursor: pointer;
}

.portfolio__filter-button:hover,
.portfolio__filter-button:focus {
  color: #dedede;

  border-color: #dedede;
}

.portfolio__filter-button--active {
  color: #dedede;

  border-color: #dedede;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.portfolio__item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.portfolio__item:nth-child(4n+4) {
  margin-right: 0;
}

.portfolio__item:nth-child(n+13) {
  display: none;
}

.portfolio__item-link {
  display: block;
}

.portfolio__item-link[href]:hover,
.portfolio__item-link[href]:focus {
  opacity: 0.5;
}

.portfolio__img {
  display: block;
}

.about-us {
  background-image: linear-gradient(to top, #ffffff 6px, #f2f2f2 6px);
}

.about-us__container {
  padding-top: 62px;
  padding-bottom: 33px;
}

.about-us__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-us__item {
  width: 300px;
  margin-right: 20px;
  margin-bottom: 40px;
}

.about-us__item:nth-child(3n+2) {
  margin-right: 21px;
  margin-left: -1px;
}

.about-us__item:nth-child(3n+3) {
  margin-right: 0;
}

.about-us__item-img {
  margin-bottom: 8px;
}

.about-us__item-title {
  margin: 0;
  margin-bottom: 9px;
  margin-left: -1px;

  font-family: "Lato", Tahoma, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 900;
  font-style: normal;
  text-align: left;
  color: #767e9e;
  /* добавил свойство согласно ТЗ п2.2 */
  white-space: nowrap;

  overflow-x: hidden;
}

.about-us__item-text {
  margin: 0;
  margin-bottom: 24px;

  font-family: "Lato", Tahoma, sans-serif;
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  color: #767e9e;
}

.about-us__item-text--adam {
  letter-spacing: -0.09px;
}

.about-us__item-social {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 1px;
  padding: 0;

  list-style: none;
}

.about-us__item:nth-child(3n+3) .about-us__item-social {
  margin-left: 0;
}

.about-us__icon-social {
  margin-right: 8px;
}

.about-us__icon-link {
  display: block;
  width: 32px;
  height: 32px;

  background-repeat: no-repeat
}

.about-us__icon-link:hover,
.about-us__icon-link:focus {
  opacity: 0.5;
}

.about-us__icon-link--fb {
  background-image: url("assets/icon-facebook.png")
}

.about-us__icon-link--google {
  background-image: url("assets/icon-google.png")
}

.about-us__icon-link--tw {
  background-image: url("assets/icon-twitter.png")
}

.about-us__icon-link--linkedin {
  background-image: url("assets/icon-linkedin.png")
}
